.ReadCard2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container{
  width: 90%;
}
.selected-div{
  display: flex;
  justify-content:space-around;
  margin-top: 1rem;
}
.cardShow{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-wrap: wrap; */
}
.showImg{
  width: 12vw;
}
.cardNameSize{
  font-size: 1rem;
}

.loadingMessageDiv{
  animation: fadein 0.5s;
  margin-top: 3rem;
}

/* 효과를 동작시간 동안 0 ~ 1까지 */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* 효과를 동작시간 동안 0 ~ 1까지 */
/* @keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} */

.loadingMessage{
  font-size: 1.25rem;  
  text-align: center;
}

@media all and (max-width:768px) {
  .cardNameSize{
    font-size: 0.75rem;
  }
  .loadingMessage{
    font-size: 1rem;
  }
  
}
@media all and (max-width:480px) {
  .selected-div{
    flex-wrap: wrap;
  }
  .showImg{
    width: 25vw;
  }
  .loadingMessage{
    font-size: 0.75rem
  }
  .loadingMessageDiv{
    margin-top: 0rem;
  }
}